<header th:fragment="header" class="usa-header usa-header--basic">
    <div class="usa-nav-container">
        <div class="usa-navbar">
            <div class="usa-logo">
                <a class="grid-row" href="https://bloomington.in.gov/" title="City of Bloomington, Indiana>">
                    <img src="/static/snowflake-blue.svg" alt="City of Bloomington Logo" class="grid-col-auto maxh-5 margin-right-105">
                    <em class="usa-logo__text font-sans-lg grid-col-auto margin-y-auto">Incidents</em>
                </a>
            </div>
            <button type="button" class="usa-menu-btn">Menu</button>
        </div>
        <nav aria-label="Primary navigation" class="usa-nav">
            <button type="button" class="usa-nav__close">
                <img src="/static/uswds/dist/img/usa-icons/close.svg" role="img" alt="Close" />
            </button>
            <ul class="usa-nav__primary usa-accordion">
                <li class="usa-nav__primary-item">
                    <a href="https://bloomington.in.gov/ureport/miscellaneous/53" class="usa-nav-link">Feedback</a>
                </li>
        </nav>
    </div>
</header>