<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head th:replace="partials/head::head('incidents')"></head>
  <body th:replace="~{ partials/body :: body(~{::section})}">
    <section class="grid-container">
        <div th:if="${errors}">
        <div th:replace="general::errors(${errors})"></div>
        </div>

        <div th:if="${messages}">
        <div th:replace="general::messages(${messages})"></div>
        </div>
        <h2>Welcome to Incident Reporting</h2>
        <p>
            Guidelines for Using the Bloomington Police Department Online Reporting System.
        </p>
        <p>
            <strong>Note: Filing a false police report is a crime and is punishable by up to 180 days in jail and a fine of up to $1000.</strong>
        </p>
        <p>
            Please answer the following questions carefully to create your report.
        </p>
        <p>3. Are there known suspects or evidence that could lead to
            identification of a suspect (including surveillance video)?</p>
        <form 
            action="#"
            th:action="@{/suspectQuestion}"
            method="post">
            <ul>
                <li>
                <input
                    type="radio"
                    name="question3"
                    value="Yes"
                />
                Yes
                </li>
                <li>
                <input
                    type="radio"
                    name="question3"
                    value="No"
                />
                No
                </li>
            </ul>
            <button type="submit">Next</button>
        </form>
    </section>
    <script src="/static/uswds/dist/js/uswds.min.js"></script>
  </body>
</html>
