/* VUE DESIGN SYSTEM SPACING HELPERS
--------------------------------------------- */
/*
  INSET-SPACE: For interface containers.
  INSET-SQUISH-SPACE: For buttons, form elements, cells.
  STACK-SPACE: For vertically stacked content.
  INLINE-SPACE: For things displayed inline.
*/
/* GLOBAL MIXINS
--------------------------------------------- */
/* AUTO SCALING FOR TYPE WITH MIN/MAX SIZES

  @param {Number}  $responsive  - Viewport-based size
  @param {Number}  $min         - Minimum font size (px)
  @param {Number}  $max         - Maximum font size (px) (optional)

  @param {Number}  $fallback    - Fallback for viewport-based units (optional)

  @example SCSS - 5vw size, 35px min & 150px max size + 50px fallback:

  @include responsive-font(5vw, 35px, 150px, 50px);
*/
/* GLOBAL FUNCTIONS
--------------------------------------------- */
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@300;400;500&display=swap");
h1, h2, h3, h4, h5, h6, p, strong, span, i, ul, li {
  color: #4f4f4f;
}

p, ol, ul, li, a {
  font-size: 16px;
  line-height: 20px;
}

ul, ol {
  margin-bottom: 20px;
}

.button span,
button span {
  font-size: 16px;
  line-height: 16px;
}

a {
  position: relative;
}
a.external {
  display: inline-flex;
  padding: 10px 33px 10px 16px;
}
a.external:after {
  position: absolute;
  content: "";
  right: 8px;
  top: 50%;
  transform: translateY(-50%);
  height: 15px;
  width: 15px;
  background-image: url("data:image/svg+xml,%3Csvg version='1.1' id='external-link' focusable='false' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 512 512' enable-background='new 0 0 512 512' xml:space='preserve'%3E%3Cpath id='arrow' fill='%23FFFFFF' d='M511.9292603,2.9698486C512,1.3435059,510.6564941,0,508.9594116,0L280.0689697,0.0707397 C278.442627,0,277.0991211,1.3435059,277.0991211,3.0405884l0.1414185,47.2346802 c0,1.6970825,1.3435059,3.0405884,3.0405884,3.0405884l136.0473022-1.838501 c2.616333-0.0706787,4.0305176,3.1820068,2.1213379,5.0911865L242.3094482,232.7088623 c-1.2020874,1.2020874-1.2020874,3.0405273,0,4.2426147l32.5269165,32.5269165c1.2020874,1.2020874,3.0405884,1.2020874,4.2426758,0 L455.572876,92.9845581c1.9091797-1.9092407,5.0911865-0.5656738,5.0911865,2.1212769l-1.838501,136.7544556 c0,1.6970825,1.3435059,3.0405884,3.1113281,2.9698486h47.0932617C510.6564941,234.9008789,512,233.557373,512,231.8602905 L511.9292603,2.9698486z'/%3E%3Cpath id='box' fill='%23FFFFFF' d='M393.5952148,459H56c-1.6568527,0-3-1.3431396-3-3V118.4052734c0-1.6568527,1.3431473-3,3-3 h157.4873047c1.6568604,0,3-1.3431473,3-3v-47c0-1.6568527-1.3431396-3-3-3H3c-1.6568543,0-3,1.3431473-3,3V485.5V509 c0,1.6568604,1.3431457,3,3,3h23.5h420.0952148c1.6568604,0,3-1.3431396,3-3V298.5136719c0-1.6568604-1.3431396-3-3-3h-47 c-1.6568604,0-3,1.3431396-3,3V456C396.5952148,457.6568604,395.2520752,459,393.5952148,459z'/%3E%3C/svg%3E");
}

.tabs-group .tabs {
  margin: 0;
}
.tabs-group .tabs ul {
  border-bottom: 1px solid #e6e6e6;
}
.tabs-group .tabs ul li {
  padding: 12px 16px 8px 16px;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 0.25px;
  color: #8f8f8f;
}
.tabs-group .tabs ul li.active, .tabs-group .tabs ul li:hover, .tabs-group .tabs ul li:focus {
  border: 1px solid #e6e6e6;
  border-bottom: 1px solid transparent;
  color: #1e5aae;
}
.tabs-group .tab-content {
  width: 100%;
  padding: 0 !important;
  border-right: 1px solid #e6e6e6;
  border-bottom: 1px solid #e6e6e6;
  border-left: 1px solid #e6e6e6;
}
.tabs-group .tab-content .tab-pane {
  padding: 20px;
}
.tabs-group.vertical-left {
  display: flex;
}
.tabs-group.vertical-left .tabs {
  margin: 0 40px 0 0;
  padding: 0 40px 0 0;
  border-right: 1px solid #e6e6e6;
}
.tabs-group.vertical-left .tabs ul {
  flex-direction: column;
  width: max-content;
  border: none;
}
.tabs-group.vertical-left .tabs ul li {
  margin: 0 0 15px 0;
  padding: 0;
  text-align: left;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 0.25px;
  color: #4f4f4f;
  border: none;
}
.tabs-group.vertical-left .tabs ul li.active, .tabs-group.vertical-left .tabs ul li:hover, .tabs-group.vertical-left .tabs ul li:focus {
  background: transparent;
  border-radius: 0;
  border: none;
  color: #1e5aae;
}
.tabs-group.vertical-left .tab-content {
  width: 100%;
  padding: 0;
}
.tabs-group.vertical-left .tab-content .tab-pane {
  padding: 0;
}

.crumbs {
  z-index: 1;
  position: fixed;
  top: 90px;
  width: 100%;
  padding: 5px 0;
  background: white;
  border-bottom: 1px solid #dbdbdb;
}

form input, form textarea, form option, form select {
  color: #4f4f4f;
  font-size: 14px;
  line-height: 18px;
}
form textarea {
  white-space: pre-line;
  height: auto;
  min-height: auto;
}
form input[disabled] {
  color: #4f4f4f;
}
form .field-group.select label {
  width: 100%;
}
form h3 {
  border-bottom: 1px solid #dbdbdb;
  margin: 0 0 15px 0;
  padding: 0 0 15px 0;
}
form label {
  display: block;
  color: #686868;
  font-weight: 600;
  letter-spacing: 0.5px;
  font-size: 16px;
  margin: 0 0 5px 0 !important;
}
form button {
  background: #4caf50;
  margin: 0 10px 0 0;
  padding: 5px 20px;
}
form footer {
  display: flex;
  align-items: center;
  margin: 20px 0 0 0;
}
form footer button {
  background-color: #4caf50;
}
form footer button:hover, form footer button:focus {
  background-color: #449d48;
}
form footer a {
  color: #828282;
  font-weight: 600;
  text-decoration: none;
}
form footer a:hover, form footer a:focus {
  color: #4f4f4f;
}

blockquote {
  border-left: 2px solid #bfbfbf;
  padding: 0 0 0 20px;
  margin: 0 0 20px 10px;
}

button,
.button {
  padding: 6px 14px;
  font-size: 16px;
  line-height: 16px;
  background: #1e5aae;
  border-color: #13386d;
}
button:hover, button:focus,
.button:hover,
.button:focus {
  backround: #1a4f98;
}
button.crop-image,
.button.crop-image {
  border-color: #357a38;
  background: #4caf50;
}
button.reset-image,
.button.reset-image {
  border-color: #357a38;
  background: #f5a300;
}
button.remove-image,
.button.remove-image {
  border-color: #831a0c;
  background: #c92813;
}

.alert {
  padding: 5px 10px;
  border-radius: 3px;
  margin: 0 0 10px 0;
}
.alert.error {
  background: #f7b6ad;
  color: #8d2316;
}
.alert.message {
  background: #ffe6a6;
  color: #6b4d00;
}
.alert ul {
  margin: 0;
  padding: 0;
}
.alert ul li {
  margin: 0 0 10px 0;
  padding: 0;
}
.alert ul li:last-of-type {
  margin: 0;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  box-sizing: border-box;
}

html,
body {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background: #1e5aae;
  font-family: "IBM Plex Sans", sans-serif;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
}

h1 {
  font-size: 30px;
  line-height: 30px;
  font-weight: 500;
}

h2 {
  font-size: 26px;
  font-weight: 500;
  line-height: 26px;
  margin: 0 0 10px 0;
  padding: 0 0 10px 0;
  border-bottom: 1px solid #dbdbdb;
}

h3 {
  font-size: 22px;
  font-weight: 500;
  line-height: 22px;
}

p, li {
  font-size: 16px;
  line-height: 20px;
}

ul, ol {
  padding: 0 0 0 20px;
  margin: 0 0 10px 0;
}
ul li, ol li {
  margin: 0 0 10px 0;
}
ul li strong, ol li strong {
  color: #292929;
}
ul li:last-of-type, ol li:last-of-type {
  margin: 0;
}

a {
  color: #1e5aae;
  text-decoration: none;
}
a:hover, a:focus {
  color: #4f4f4f;
}

form input, form textarea {
  border: 1px solid #dbdbdb;
}
form textarea {
  width: 100%;
}
form input {
  width: 100%;
}
form input[type=submit] {
  background: #4caf50;
  color: white;
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
  padding: 4px 8px;
  margin: 20px 0 0 0;
  border-radius: 3px;
  border: none;
  cursor: pointer;
}
form input[type=submit]:focus, form input[type=submit]:hover {
  background: #449d48;
}
form button {
  cursor: pointer;
  border-radius: 3px;
  border: none;
  color: white;
  margin: 10px 0;
}
form fieldset {
  color: #4f4f4f;
  margin: 0 0 20px 0;
}
form fieldset:last-of-type {
  margin: 0;
}
form fieldset span {
  color: #4f4f4f;
}
form fieldset input {
  margin: 0 0 10px 0;
}
form fieldset legend {
  font-size: 18px;
  font-weight: 500;
  margin: 0 0 5px 0;
}

.field-group {
  margin: 0 0 20px 0;
  width: 100%;
}

.m-b-10 {
  margin-bottom: 10px;
  display: inline-block;
}

header {
  background: white;
  border-top: 4px solid #1e5aae;
  padding: 15px 20px 13px 20px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
}
header div:first-of-type {
  display: flex;
  align-items: center;
  width: 100%;
}
header a {
  text-decoration: none;
}
header a.logo {
  display: block;
  width: 200px;
}
header a.app-name {
  border-left: 2px solid #dbdbdb;
  color: #4f4f4f;
  letter-spacing: -0.5px;
  font-size: 16px;
  font-weight: 400;
  line-height: 21px;
  margin: 0 0 0 20px;
  padding: 0 0 0 20px;
}
header nav {
  display: flex;
  align-items: center;
  align-self: center;
  margin: 0 0 0 auto;
}
header nav#navigation ul li a {
  color: #4f4f4f;
}
header nav.navigation-dropdown {
  margin: 0 0 0 20px;
  position: relative;
  display: inline-flex;
  flex-wrap: wrap;
}
header nav.navigation-dropdown summary {
  box-sizing: border-box;
  z-index: 1;
  position: relative;
  will-change: transform;
  transition: all 0.2s ease;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-decoration: none;
  margin: 0;
  padding: 0 8px;
  border: 0;
  border-radius: 3px;
  background: #1e5aae;
  color: #fff;
  font-weight: 600;
  font-size: 16px;
  font-family: IBM Plex Sans, Helvetica, Arial, sans-serif;
  line-height: 1.6;
  cursor: pointer;
}
header nav.navigation-dropdown ul {
  z-index: 10;
  background: #fff;
  border: 1px solid #dbdbdb;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 30px;
  min-width: 100px;
  list-style: none;
  border-radius: 3px;
}
header nav.navigation-dropdown ul li {
  padding: 0 10px;
}
header nav.navigation-dropdown ul li:hover, header nav.navigation-dropdown ul li:focus {
  background: #f2f2f2;
}
header nav.navigation-dropdown ul li a {
  display: inline-block;
  padding: 5px 0;
  width: 100%;
  color: #373737;
  text-decoration: none;
  font-weight: 400;
  font-size: 14px;
  font-family: IBM Plex Sans, Helvetica, Arial, sans-serif;
  line-height: 1.3;
}
main.public-questions-wrapper {
  width: 520px;
  margin: 20px auto;
  padding: 20px;
  border-radius: 3px;
  background: white;
  box-shadow: 0 1px 5px 0 rgba(70, 70, 70, 0.3);
}
main.public-questions-wrapper p {
  margin: 0 0 10px 0;
}
main.public-questions-wrapper p strong {
  font-weight: 500;
}
main.public-questions-wrapper #questions .question p {
  font-weight: 500;
}
main.public-questions-wrapper #questions .question form ul {
  display: flex;
}
main.public-questions-wrapper #questions .question form ul li {
  margin: 0 20px 0 0;
  display: flex;
  align-items: center;
}
main.public-questions-wrapper #questions .question form ul li input {
  margin: 0 5px 0 0;
  width: max-content;
}
main.public-questions-wrapper #finalStep ul {
  padding: 0;
}
main.public-questions-wrapper #finalStep ul li a {
  display: inline-block;
  background: #4caf50;
  color: white;
  padding: 4px 8px;
  border-radius: 3px;
  font-weight: 500;
}
main.public-questions-wrapper #finalStep ul li a:hover, main.public-questions-wrapper #finalStep ul li a:focus {
  background: #449d48;
}
main #moreInfo {
  border-top: 1px solid #dbdbdb;
  font-size: 16px;
  color: #4f4f4f;
  margin: 20px 0 0 0;
  padding: 20px 0 0 0;
}
main .next-button {
  background: #4caf50;
  color: white;
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
  padding: 4px 8px;
  margin: 0 5px;
  border-radius: 3px;
  border: none;
  cursor: pointer;
}
main .next-button:focus, main .next-button:hover {
  background: #449d48;
}
main #next_div,
main .next_div {
  border-top: 1px solid #dbdbdb;
  padding: 20px 0 0 0;
  margin: 20px 0 0 0;
  color: #4f4f4f;
}
main #next_div p,
main .next_div p {
  color: #4f4f4f;
  margin: 0;
  display: flex;
  align-items: center;
}
main #next_div input[type=button],
main #next_div button,
main #next_div .button,
main .next_div input[type=button],
main .next_div button,
main .next_div .button {
  background: #4caf50;
  color: white;
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
  padding: 10px 20px;
  margin: 0;
  border-radius: 3px;
  border: none;
  cursor: pointer;
}
main #next_div input[type=button]:focus, main #next_div input[type=button]:hover,
main #next_div button:focus,
main #next_div button:hover,
main #next_div .button:focus,
main #next_div .button:hover,
main .next_div input[type=button]:focus,
main .next_div input[type=button]:hover,
main .next_div button:focus,
main .next_div button:hover,
main .next_div .button:focus,
main .next_div .button:hover {
  background: #449d48;
}

.button-group {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  border-top: 1px solid #dbdbdb;
  border-bottom: 1px solid #dbdbdb;
  margin: 10px 0;
  padding: 10px 0;
}
.button-group input[type=button],
.button-group button,
.button-group .button {
  cursor: pointer;
  background: #4caf50;
  color: white;
  padding: 2px 8px;
  border: none;
  border-radius: 3px;
  font-size: 14px;
  font-weight: 500;
}
.button-group input[type=button]:hover, .button-group input[type=button]:focus,
.button-group button:hover,
.button-group button:focus,
.button-group .button:hover,
.button-group .button:focus {
  background: #449d48;
}

/*# sourceMappingURL=style.css.map */
